.card-anggaran{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.card-angg-icon{
    font-size: 30px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,255.0);
    display: flex;
    justify-content: center;
    margin-right: -20px;
    z-index: 2;
    align-items: center;
    padding: 10px;
    color: var(--itemijo);
    background-color: var(--putihijo);
    transition: 2s;
}

.card-angg-chart{
    width: 500px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0,0,0,255.0);
    background-color: var(--putih);
    border-radius: 10px;
    padding: 10px 10px 10px 30px;
}

.card-angg-icon:hover{
    background-color: var(--ijomuda);
    transition: 1s;
    color: var(--putihijo);
}